* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}



.form_field {
    width: 20%;
    height: 20%;
    padding: 5px 4px;
    margin: 42px 3px;
    /* box-sizing: border-box; */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* width: 40%; */
  max-width: 230px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  max-width: 200px;
  border-radius: 5px 5px 0 0;
}

.box {
  margin-top:20px;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 1em;
}



.clear {
  clear: both;
}


.container {
  padding: 2px 16px;
}


.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #1C3643;
}

.Navbar__brand {
  color: #ffffff;

  display: flex;
  align-items: center;
}

.Navbar__brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
}


.box a {
  margin: 2px;
  text-decoration: none;
  color:aqua;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
} 

.btn {
  padding: 7px;
  margin: 1px 0px;
  border: none;
 font-weight: bold;
}

.btn-info {
  background-color: #1C3643;
  color:white;
}
.btn:hover {
  cursor: pointer;
  padding: 7px;
  color:white;
  background: #1C361D;
  border: none;
}

.Navbar__brand {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 16px;
}